<!DOCTYPE html>
<html ng-app="FileTrans">
<head>
    <title>Basic File Transfer (Minus the File Transferring Code)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <style>
        #body{
            background-color: #c7e4f8;
            border-color: #8cc7cc;
            border-width: 5px;
            border-style: solid;
            border-radius:  15px;
            padding: 15px;
        }
        #sidebar {
            background-color: #c7e4f8;
            border-color: #8cc7cc;
            border-width: 5px;
            border-style: solid;
            border-radius:  15px;
            padding: 15px;
        }
        #file {
            background-color: #e7f5f8;
            border-color: #8cc7cc;
            border-width: 5px;
            border-style: solid;
            border-radius:  15px;
            padding: 15px;
         }
    </style>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<script src="angular.min.js"></script>
<script src="tools.js"></script>

<h1>Point to Point File Transfer (Not Transferring Yet)</h1>

<div class="container-fluid" ng-controller="eKey">
    <div class="row-fluid">
        <div id="sidebar" class="span3">
            <h2>LINK SETTINGS</h2>
            <p>Link ID:</p>
            <input type="text" id="l_Id" value={{userData.userID}} class="span11" ng-model="userData.userID">

            <p>Link Password:</p>
            <input type="text" id="l_Pass" value={{userData.userPass}} class="span11" ng-model="userData.userPass">
            <p>Generated Encryption Key:</p>
            <div class="span11" style="word-wrap: break-word;">
            {{sessionTools.genKey()}}
            </div>

        </div>
        <div id="body" class="span9">
            <h2>FILE SETTINGS</h2>
            <div id="file" >
                <h4>Transfer To:</h4>
                <input type="text" class="span3" value="127.0.0.1">
                <button class='btn' style='vertical-align:top;'>Create Link</button>
                <p>Upload File:</p>
		<button class='btn'>choose...</button>
                <p>Uploaded Filename:</p>
                <i>NO FILE UPLOADED</i>
                <button class='btn' disabled="disabled">Send File</button>
            </div>
            <div id="file" >
                <h4>Transfer From:</h4>
                <input type="text" class="span3" value="*NO LINK REQUESTS*">
		<button class='btn' disabled='disabled' style='vertical-align:top;'>Accept Link</button>
                <p>Offered File Name:</p>
                <i>NO LINK</i>
		<button class='btn' disabled='disabled'>Receive File</button>
		<button ip-Test class='btn'>test</button>
            </div>
        </div>
    </div>
</div>




<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
